* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgba(110, 84, 49, 0.062);
}
/* Root styles */
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.editor {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-right: 2px black dashed;
}
.editor form {
  width: 70%;
  max-width: 600px;
  max-height: 70vh;
  display: flex;
  flex-direction: column;
}
.editor label {
  margin-bottom: 0.3rem;
  text-align: center;
}
#grid-dimension{
    text-align: center;
}
.editor input {
  border-radius: 0.5rem;
  max-width: 70%;
  align-self: center;
}
.editor form input {
  width: 100%;
  flex: 1 1 auto;
}
.editor button {
  flex: 2 1 auto;
  width: 70%;
  max-width: 90%;
  align-self: center;
  margin-top: 1rem;
  padding: 0.7rem;
  color: rgb(255, 255, 255);
  background-color: rgba(24, 25, 26, 0.747);
}
/* Active button styling */
button.active {
  background-color: rgba(189, 115, 115, 0.966); /* Green background for active button */
  color: rgb(0, 0, 0); /* White text for better contrast */
  border: 2px solid rgba(202, 189, 189, 0.589); /* Darker border for emphasis */
  transform: scale(1.05); /* Slightly enlarge the button */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow for depth */
}
button.active:hover{
    background-color: rgba(189, 115, 115, 0.966);
}
/* Button hover effect */
button:hover {
  background-color: rgb(214, 203, 203); /* Darker green on hover */
  color: black;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

.grid-container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.etch-grid {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  max-width: 800px;
  aspect-ratio: 1; /* Sets width n height to be equal aka square */
  border: clamp(0.75rem, 2rem, 1rem) solid rgb(0, 0, 0);
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.418) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.548) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.534) 0px -2px 6px 0px inset;
}

.square {
  border: black 1px solid;
  height: auto;
}
.square:hover {
  background-color: var(--square-color) !important;
}
